nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    max-width: 35rem;
    background: #fff;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .nav__wrapper {
        overflow-x: hidden;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        padding: 0 2.5rem;
    }

    .nav__overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 9;
        background: rgba(0,0,0,.5);
    }

    a {
        font-size: 2rem;
        line-height: 1;
        text-transform: uppercase;
        color: #003d58;
        transition: color .3s ease;

        &:hover {
            color: #b5a9a6;
        }
    }

    .active {
        color: #b5a9a6;
        text-decoration: underline;
        text-decoration-color: #8C1C13;
    }
}

