@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');

* {
    box-sizing: border-box;
    font-family: Lato,"sans-serif";
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 1,
    'wght' 500,
    'GRAD' 200,
    'opsz' 48
}

ol, ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}